html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

:root {
  --sidebar-width: 210px;
  --sidebar-collapsed-width: 64px;
  --navbar-height: 50px;
  --tags-view-height: 34px;
}

#nprogress .bar {
  background: #409eff !important;
}

a {
  text-decoration: none;
  color: inherit;
}
